<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="small">Buy a ticket and go some place</ion-title>
    <!-- <ion-title>{{ folder }}</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">The links between</strong>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>dreams on the one hand and ship travel or movie going on the other are not as dissimilar as one might think.</p>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
